/* Student Name: Raymond Li */
/* Student ID: 18028813 */

/* style.css is used to style the website for better user interface */
body{
    background-color: hsl(202, 52%, 83%);
    text-align: center;
    font-size: 1.5rem;
    font-style: Helvetica;
}

.container
{
    border: 1px solid #000000;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #62cae6;
}